.mainImgWrapper {
  position: relative;
}

#carouselExampleControls img {
  height: 500px;
}
.shopButton {
  z-index: 4;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shopButton a {
  background-color: rgba(31, 31, 31, 0.678);
  color: whitesmoke;
  text-align: center;
  font-size: 18pt;
  padding: 10px 10px;
}
.mainImg {
  align-items: center;
  justify-content: center;
  margin: 2% auto;
}
